body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid;
}
p, h4 {
    font-size: 20px;
    margin-bottom: 0;
}
h4 {
    font-size: 14px;
}
ul, ol {
    margin: 0;
}
table tr td {
    padding: 5px;
}

th, td {
   border: 2px solid;
}

img {
	height: 30px;
	width: auto;
}
